/** Group 4 Projects
 * Try to use ID's for your styles, unless someones class suits your
 * Comment out your css section so we know who to discuss with
 */
/*
*--------------------------------------------------------------------
* 01. Global CSS STYLE
* 02. Preloader and Bounce CSS Style
* 03. Header CSS
  04. Navigation Bar
* 05. Slider
* 06. Footer
* 07. Devin App CSS
 */


/*01. Clobal CSS Style */
body {
  /* background-color: #ADD8E6; */
  background-image: url("../images/wallpaper.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
header {
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 2px;
}

/* Main content */

main {
  width: 90%;
  height: 800px;
  margin: 10px auto 0px auto;
  overflow: hidden;
}

/* Article content */

article {
  background-color: rgb(255, 230, 233);
  width: 85%;
  height: 100%;
  float: left;
  border-radius: 4px;
}

#indexContent {
  background-color: rgba(255, 0, 0, 0);
  font-size: 36px;
  color: white;
  text-align: center;
  font-family: 'Cabin';
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: darkblue;
}

#devin {
  background-color: rgba(255, 0, 0, 0);
}

#joan {
  background-color: rgba(255, 0, 0, 0);
}
#julie {
  background-color: rgba(255, 255, 255, 0.9);;
}
/* Side Bar */

aside {
  width: 14%;
  height: 800px;
  margin-left: 1%;
  float: right;
  border-radius: 4px;
}

/* Juan Hou */

aside>nav>ul {
    height: 200%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position:relative;
	border:sidebar;
   /* background-color:#ADD8E6; /* light blue */
   /* overflow-x: hidden; /* Disable horizontal scroll */
    padding-top:5px;
	padding-left:0px;
	padding-top:10px;
	/*transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
aside>nav>ul>li{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
	transition: 0.3s;
	position:relative;
	top: 50px;
}

/* When you mouse over the navigation links, change their color */
aside>nav>ul>li:hover a+div {
  display: block;
}


aside>nav>ul>li:hover a, header>nav>ul>li:hover span {
  color:#6495ed;
}

#pig{

	position: relative;
    padding-top:50px;

}

aside>nav>ul>li>a>div>span {
  color: #3aa2ad;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-style: italic;
  line-height: 1rem;
  max-width: 260px;
}

/* Footer section */

footer {
  width: 90%;
  height: 200px;
  margin: 10px 0 0 5%;
  border-radius: 4px;
  text-align: center;
}

/* 03. Header-Elham Amouhadi */
#logo{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-top: 20px;
  top: 78px;

}
#logo img{
  width: 18%;
  padding: 0px 5px;
  float: bottom;
}


/* 04. Devin Treichel Navigation */



header>nav>ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 60%;
  font-family: 'PT Sans Narrow', sans-serif;
}

header>nav>ul>li {
  flex: 0 1 auto;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all linear 0.1s;

}

header>nav>ul>li:hover {
  background: rgba(58, 162, 173, 1);
}

header>nav>ul>li a+div {
  background: linear-gradient(to bottom, rgba(58, 162, 173, 1) 0, rgba(62, 188, 207, 0.96) 100%);
  border-radius: 0 0 2px 2px;
  box-shadow: 0 3px 1px rgba(0, 0, 0, .05);
  display: none;
  font-size: 1rem;
  position: absolute;
  width: 195px;

}

header>nav>ul>li:hover a+div {
  display: block;

}

header>nav>ul>li>a {
  align-items: flex-start;
  color: #fff;
  display: flex;
  font-size: 1.55rem;
  font-weight: 200;
  letter-spacing: 1px;
  max-width: 130px;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  transition: all linear 0.1s;
}

header>nav>ul>li>a>div>span {
  color: rgba(255, 255, 255, .75);
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-style: italic;
  line-height: 1rem;
  max-width: 260px;
}



/*06. Footer - Joan Poon*/
footer div{
  display: inline-block;
}
#footerList{
  font-size: 18px;
  font-family: 'Coiny', cursive;
  color: #751aff;
}
footer p{
  font-size: 18px;
  font-family: 'Coiny', cursive;
  color: #ab54f7;
  margin: 0px;
}
footer li{
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  list-style: none;
}
footer a{
  color: #ff4d88;
}
footer a:hover{
  color: white;
  font-size: 20px;
}
footer img{
  padding: 10px 5px;
  height: 150px;

}



/*07. Devin Treichel App CSS */

#title {
  width: 1000px;
  font-family: "Cabin";
  font-size: 57px;
  color: white;
  text-align: center;
  position: relative;
  margin: 0px auto;
  top: 45px;
  text-shadow: 4px 0 0 #246de2, -4px 0 0 #246de2, 0 4px 0 #246de2, 0 -4px 0 #246de2, 4px 4px #246de2, -4px -4px 0 #246de2, 4px -4px 0 #246de2, -4px 4px 0 #246de2;
}

#board {

  width: 1000px;
  height: 520px;
  padding: 125px 12px 12px 12px;
  margin: -70px auto 0px auto;
}

#margin {
  margin-top: 50px;
}

#board > div {
  background: url(../images/memory/card-background.png) no-repeat;
  border: 1px solid #000;
  width: 62px;
  height: 110px;
  float: left;
  margin: 10px;
  padding: 20px;
  cursor: pointer;
  backface-visibility: hidden;
  transform: none;
  transform-style: preserve-3d;
  transition: all .75s ease-out;

}

.popup {
  width: 400px;
  height: 120px;
  padding: 15px;
  left: 0;
  margin-left: 33.3%;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: url(../images/memory/win.jpg) no-repeat;
  position: absolute;
  top: 15%;
  box-shadow: 5px 5px 5px #000;
  z-index: 10001;
}
#wintext {
  margin-top: -10px;
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  color: blue;
}

#playagain {
  margin-top: -25px;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
}

#confirm, #cancel {
  float: left;
  margin-left: 2px;
  margin-top: -5px;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #3498db;
  cursor: pointer;
  font-size: 18px;
  padding: 2px 3px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#confirm {
  margin-left: 10px;
}

#confirm:hover, #cancel:hover {
  color: #fff;
  outline: 0;
  box-shadow: 0 0 40px 40px #3498db inset;
}

.overlay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.85);
  z-index: 10000;
}

/*08. Joan's Painter App*/
canvas{
  margin-top: 10%;
  margin-left: 5%;
  background-color: white;
  border: lightblue 1px solid;
}
#paintString{
  text-align: right;
  font-size: 40px;
  color: yellow;
  margin: -5% 20%;
  font-family: 'Coiny', cursive;
}
#paintButton{
  font-size: 30px;
  margin: 5% 0 0 10%;
  padding: 5;
  color: lightblue;
  background-color: navy;
  border-radius: 12px;
  font-family: 'Coiny', cursive;
}
#paintButton:hover{
  font-size: 30px;
  margin: 5% 0 0 10%;
  padding: 5;
  color: navy;
  background-color: lightblue;
  border-radius: 12px;
  transition-duration: 0.4s;
  font-family: 'Coiny', cursive;
}
#colorSpan{
  display: inline-block;
}
.paint{
  height: 55px;
  display: block;
  margin: 10px;
}
