/** Group 4 Projects
 * Try to use ID's for your styles, unless someones class suits your
 * Comment out your css section so we know who to discuss with
 */
/*
*--------------------------------------------------------------------
* 01. Global CSS STYLE
* 02. Preloader and Bounce CSS Style
* 03. Header CSS
  04. Navigation Bar
* 05. Slider
* 06. Footer
 */


/*01. Clobal CSS Style */
body {
  /* background-color: #ADD8E6; */
  background-image: url("../images/Cloud_Paper_Darker.png");
}
header {
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 2px;
}

/* Main content */

main {
  width: 90%;
  height: 800px;
  margin: 10px auto 0px auto;
  overflow: hidden;
}

/* Article content */

article {
  background-color: green;
  width: 75%;
  height: 800px;
  float: left;
  border-radius: 4px;
}

/* Side Bar */

aside {
  background-color: yellow;
  width: 24%;
  height: 800px;
  margin-left: 1%;
  float: right;
  border-radius: 4px;
}

/* Footer section */

footer {
  background-color: orange;
  width: 90%;
  height: 200px;
  margin: 10px 0 0 5%;
  border-radius: 4px;
}
/* 03. Header-Elham Amouhadi */
#logo{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-top: 20px;
  top: 78px;

}
#logo h1{
  font-family: 'Gloria Hallelujah', cursive;
  padding-left: 20px;
  padding-right: 10px;
  margin: 0;
  color: #ffb6c1;
}
#logo img{
  height: 100%;
  padding: 0px 5px;
}
header nav{
  padding-left: 225px;
}

/* 04. Devin Treichel Navigation */

header>nav>ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 60%;
  font-family: 'PT Sans Narrow', sans-serif;
}

header>nav>ul>li {
  flex: 0 1 auto;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all linear 0.1s;

}

header>nav>ul>li:hover {
  background: rgba(58, 162, 173, 1);
}

header>nav>ul>li a+div {
  background: linear-gradient(to bottom, rgba(58, 162, 173, 1) 0, rgba(62, 188, 207, 0.96) 100%);
  border-radius: 0 0 2px 2px;
  box-shadow: 0 3px 1px rgba(0, 0, 0, .05);
  display: none;
  font-size: 1rem;
  position: absolute;
  width: 195px;

}

header>nav>ul>li:hover a+div {
  display: block;

}

header>nav>ul>li>a {
  align-items: flex-start;
  color: #fff;
  display: flex;
  font-size: 1.55rem;
  font-weight: 200;
  letter-spacing: 1px;
  max-width: 130px;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  transition: all linear 0.1s;
}

header>nav>ul>li>a>div>span {
  color: rgba(255, 255, 255, .75);
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-style: italic;
  line-height: 1rem;
  max-width: 260px;
}
